.group-checks {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  ul {
    padding: 0;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 24px;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;

    &.expand {
      max-height: 200px;
    }

    li {
      padding: 0 10px;
      margin: 0 20px 16px 0;
      cursor: pointer;
      line-height: 24px;

      &.active {
        color: #fff;
        background: #1890ff;
        border-radius: 4px;
      }
    }
  }
}