.login {
  height: 100%;
  background: url('../../assets/images/bg.jpg') no-repeat center / cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

.v-form {
  text-align: center;
  color: #fff;
  text-align: left;

  h2 {
    font-size: 40px;
    letter-spacing: 4px;
    margin: 0;
    color: inherit;
  }

  h4 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 72px;
    color: inherit;
  }

  .v-login {
    width: 360px;
    margin: 0 auto;
  }

  .has-error .ant-input-affix-wrapper .ant-input,
  .has-error .ant-input-affix-wrapper .ant-input:hover {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
  }

  .ant-input {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;

    &:not(:focus) {
      border-color: rgba(255, 255, 255, 0.05);
    }
  }
}